Source: local-patch
Section: devel
Priority: extra
Maintainer: Denis Bychkov <manover@gmail.com>
Uploaders: Denis Bychkov <manover@gmail.com>
Standards-Version: 4.0.0
Build-Depends: debhelper (>= 10)

Package: local-patch
Depends: patch, grep
Architecture: all
Multi-Arch: foreign
Description: Patch some select files post-installation
 This package is intended to patch certain files on the local debian installation
 and keep them patched throughout the constant system updates. It is fed with a
 bunch of diff files (separate diff for every patch we maintain) and automatically
 creates the proper dpkg triggers. Every time the system installs a new version on top
 of the patched file, the corresponding trigger is fired calling the maintainer's
 script, which applies the patch again.
