#!/usr/bin/make -f

export DH_VERBOSE = 1
export DH_OPTIONS = -v

p = local-patch
mscripts = postinst prerm install triggers

%:
	dh $@

debian/$(p).%: debian/$(p).%.in
	sed 's/#PACKAGE#/$(p)/g' $< > $@ 

debian/$(p).triggers:
	sed -nre 's|^\+{3} b([^\s]+)|interest-noawait \1|p' patches/*|sort > $@

override_dh_installdeb: $(foreach s,$(mscripts),debian/$(p).$(s))
	dh_installdeb

override_dh_clean:
	dh_clean $(foreach s,$(mscripts),debian/$(p).$(s))
