#!/usr/bin/make -f

export DH_VERBOSE = 1
export DH_OPTIONS = -v
PATCHES := $(wildcard patches/*)

p := $(shell dpkg-parsechangelog -SSource)
generated = $(foreach s,postinst prerm install triggers,debian/$(p).$(s)) files

%:
	dh $@

files: $(PATCHES)
	for f in $?; do \
		fn=$$(basename $$f); \
		sed -nre "s|^-{3} a(.+)\$$|\1 $$fn|p" $$f; \
	done | sort >$@

debian/$(p).triggers: files
	awk '{printf ("interest-noawait %s\n", $$1)}' $< >$@

debian/$(p).%: debian/$(p).%.in
	sed 's/#PACKAGE#/$(p)/g' <$< >$@ 

override_dh_install: $(generated)
	dh_install

override_dh_clean:
	dh_clean $(generated)
